# Mandatory fields below
DB_URL=<mongodb-url-goes-here>                  # URL for Mongo database
PORT=8080                                       # Port to start server on
SESSION_SECRET=<session-secret-goes-here>       # Express-session secret token
GOOGLE_CLIENT_ID=<google-client-id-goes-here>   # Google client id for oauth2.0
GOOGLE_CLIENT_SECRET=<google-secret-goes-here>  # Google client secret for oauth2.0
DWEET_PREFIX=<dweet-prefix-goes-here>           # Prefix to append to dweet titles when posting

# Optional fields below
MQTT_URL=<mqtt-url-goes-here>                   # URL for MQTT server, none means mqtt is disabled